This notebook is used to conduct query on the country_club database

In [87]:
import sqlite3
import pandas as pd

In [88]:
database = 'sqlite_db_pythonsqlite.db'

In [89]:
con = sqlite3.connect(database)

Q10: Produce a list of facilities with a total revenue less than 1000. The output of facility name and total revenue, sorted by revenue. Remember that there's a different cost for guests and members!

In [90]:
rs1 = con.execute('SELECT f.name as facility_name, \
SUM(CASE WHEN b.memid = 0 THEN f.guestcost * b.slots \
ELSE f.membercost * b.slots \
END) AS revenue \
FROM Bookings as b \
INNER JOIN Facilities as f \
USING(facid) \
GROUP BY facility_name \
HAVING revenue < 1000 \
ORDER BY facility_name, revenue')
df1 = pd.DataFrame(rs1.fetchall())
df1.columns = ['facility_name', 'revenue']
print(df1)

   facility_name  revenue
0     Pool Table      270
1  Snooker Table      240
2   Table Tennis      180

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [91]:
rs2 = con.execute('SELECT m1.surname, m1.firstname, m2.surname AS recommendedby_surname, m2.firstname AS recommendedby_firstname FROM Members as m1 \
INNER JOIN Members as m2 \
ON m1.recommendedby = m2.memid \
WHERE m1.recommendedby > 0 \
ORDER BY m1.surname, m1.firstname')
df2 = pd.DataFrame(rs2.fetchall())
df2.columns = ['surname', 'firstname', 'recommendedby_surname', 'recommendedby_firstname']
print(df2)

              surname  firstname recommendedby_surname recommendedby_firstname
0               Bader   Florence              Stibbons                  Ponder
1               Baker       Anne              Stibbons                  Ponder
2               Baker    Timothy               Farrell                  Jemima
3              Boothe        Tim                Rownam                     Tim
4             Butters     Gerald                 Smith                  Darren
5              Coplin       Joan                 Baker                 Timothy
6             Crumpet      Erica                 Smith                   Tracy
7                Dare      Nancy              Joplette                  Janice
8             Genting    Matthew               Butters                  Gerald
9                Hunt       John               Purview               Millicent
10              Jones      David              Joplette                  Janice
11              Jones    Douglas                 Jones                   David
12           Joplette     Janice                 Smith                  Darren
13          Mackenzie       Anna                 Smith                  Darren
14               Owen    Charles                 Smith                  Darren
15             Pinker      David               Farrell                  Jemima
16            Purview  Millicent                 Smith                   Tracy
17             Rumney  Henrietta               Genting                 Matthew
18             Sarwin  Ramnaresh                 Bader                Florence
19              Smith       Jack                 Smith                  Darren
20           Stibbons     Ponder                 Tracy                  Burton
21  Worthington-Smyth      Henry                 Smith                   Tracy

Q12: Find the facilities with their usage by member, but not guests

In [92]:
rs3 = con.execute('SELECT f.name as facility_name, surname, firstname, SUM(slots) AS total_slots \
FROM Bookings as b \
INNER JOIN Facilities as f \
USING(facid) \
INNER JOIN Members as m \
ON b.memid = m.memid \
WHERE m.memid > 0 \
GROUP BY facility_name, surname, firstname \
ORDER BY facility_name, surname, firstname')
df3 = pd.DataFrame(rs3.fetchall())
df3.columns = ['facility_name', 'surname', 'firstname', 'total_slots']
print(df3)

       facility_name   surname firstname  total_slots
0    Badminton Court     Bader  Florence           27
1    Badminton Court     Baker      Anne           30
2    Badminton Court     Baker   Timothy           21
3    Badminton Court    Boothe       Tim           36
4    Badminton Court   Butters    Gerald           63
..               ...       ...       ...          ...
197   Tennis Court 2     Smith    Darren           57
198   Tennis Court 2     Smith      Jack            3
199   Tennis Court 2     Smith     Tracy            6
200   Tennis Court 2  Stibbons    Ponder           96
201   Tennis Court 2     Tracy    Burton            9

[202 rows x 4 columns]

Q13: Find the facilities usage by month, but not guests

In [93]:
rs4 = con.execute('SELECT f.name as facility_name, \
CASE WHEN starttime LIKE "2012-07-%" THEN 7 \
WHEN starttime LIKE "2012-08-%" THEN 8 \
ELSE 9 END AS month, SUM(slots) AS total_slots \
FROM Bookings as b \
INNER JOIN Facilities as f \
USING(facid) WHERE memid > 0 \
GROUP BY facility_name, month \
ORDER BY facility_name, month')
df4 = pd.DataFrame(rs4.fetchall())
df4.columns = ['facility_name', 'month', 'total_slots']
print(df4)

      facility_name  month  total_slots
0   Badminton Court      7          165
1   Badminton Court      8          414
2   Badminton Court      9          507
3    Massage Room 1      7          166
4    Massage Room 1      8          316
5    Massage Room 1      9          402
6    Massage Room 2      7            8
7    Massage Room 2      8           18
8    Massage Room 2      9           28
9        Pool Table      7          110
10       Pool Table      8          303
11       Pool Table      9          443
12    Snooker Table      7          140
13    Snooker Table      8          316
14    Snooker Table      9          404
15     Squash Court      7           50
16     Squash Court      8          184
17     Squash Court      9          184
18     Table Tennis      7           98
19     Table Tennis      8          296
20     Table Tennis      9          400
21   Tennis Court 1      7          201
22   Tennis Court 1      8          339
23   Tennis Court 1      9          417
24   Tennis Court 2      7          123
25   Tennis Court 2      8          345
26   Tennis Court 2      9          414